.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: 0.1em solid red;
    box-shadow: 0 0 0.2em 0.02em red;
    top: 1.5%;
    right: 2%;
}
#bar1{
    position: absolute;
    width: 1.7rem;
    border: 0.01em solid red;
    box-shadow: 0 0 0.2em red;
    transform: rotate(45deg);
}
#bar2{
    position: absolute;
    width: 1.7rem;
    border: 0.01em solid red;
    box-shadow: 0 0 0.2em red;
    transform: rotate(-45deg);
}