*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  color: silver;
  font-family: Comfortaa;
  overflow-x: hidden;
  background: rgb(37, 37, 37);
}

a, h1, h2, h3, h4{
  margin: 0;
}

@font-face {
  font-family: Comfortaa;
  src: url('./fonts/Comfortaa-VariableFont_wght.ttf');
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--clr-neonOff);
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgb(209, 0, 209);
}